.article-card {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #555;
  padding: 1rem;
  
}

.col-left {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.col-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.thumb {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
}

.topic-box {
  background-color: #0915ff;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
  display: inline-block;
  
}