.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ff1616;
  box-shadow: 3px 3px 3px 4px rgba(58, 58, 58, 0.322);
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #ddd;
}

.logo { 
    font-weight: bold; 
    font-size: 1.5rem; 
    color: white;
}

.topics a { 
    margin-left: 1rem; 
    font-weight: 500; 
    color: white;

}

.active-topic {
  font-weight: bold;
  border-bottom: 2px solid rgb(151, 202, 255);  
  padding-bottom: 2px;                  
}