/* Navbar styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
  font-weight: bold;
  z-index: 1000;
  box-shadow: 0px 1px 10px rgb(66, 66, 66);
}

.navbar .logo {
  font-size: 1.5rem;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 1.5rem;
  font-size: 1rem;
}

.navbar .nav-links a:hover {
  text-decoration: underline;
}